@use "../partials/typography" as t;

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  align-items: center;
  background-color: var(--card-bg);
  border-color: var(--border);
  
  label {
    margin-bottom: 0.2rem;
    font-weight: 600;
    font-family: t.$font-description;
  }

  input, textarea, select {
    font-family: t.$font-body;
    width: 60%;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--border);
    font-size: 1rem;
    outline: none;
    margin-top: 0.5rem;

    &:focus {
      border-color: var(--blue);
      box-shadow: 0 0 0 2px rgba(50, 107, 250, 0.2);
    }
  }

  select {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    width: 62%;
  }

  textarea {
    min-height: 5rem;
  }

  .btn {
    margin-top: 1rem;
  }
}