@use '../partials/typography' as t;

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-family: t.$font-description;
  background-color: var(--card-bg);
  border-color: var(--border);

  th, td {
    border: 1px solid var(--border);
    padding: 0.5rem 1rem;
    text-align: left;
  }

  th {
    background-color: var(--blue);
    color: white;
  }

  tr:nth-child(even) {
    background-color: var(--bg);
  }

  tr:hover td {
    background-color: rgba(137, 133, 250, 0.7);
    transition: all 0.5s ease;
  }

  a {
    color: var(--blue);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 768px) {
    .hide-mobile {
      display: none;
    }
  }
}
